html {
    scroll-behavior: smooth;
    overflow-x: hidden; 
}

td {
    height: calc(100vh / 65);
    width: calc(100vh/ 5);
}

td .marcado {
    background-color: blue;
}

.divisoria {
    margin-right: 1%;
}

.legenda {
    float: left;
    width: 30%;
    color: white;
    text-align: center;
    font-style: italic;
    font-size: medium;
    text-indent: 0;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
}

body {
    background-color:  #14BFD1;
    background-image: linear-gradient(#14BFD1,#2A61FA);
}
